<div class="hero-section">
        <div class="pay-btn-section a">
            <h2 class="paid-hero-header">Get Paid, Send Payment Requests</h2>
            <select class="client-selector">
                {{#each clients}}
                <option value="{{ this.email }}">{{ this.name }}</option>
                {{/each}}
            </select>
            <button class="pay-request-btn">Send Request</button>
        </div>
        <div class="image-name-section b">
            {{#if user.profileImage}}
            <img src="{{ user.profileImage }}" alt="User's profile picture">
            {{else}}
            <img src="/assets/DefaultProPic.png" alt="profile picture" class="profile-pic">
            {{/if}}
            <p class="hero-username">{{ user.firstName }} {{ user.lastName }}</p>
            <p class="hero-client-count">Client Count: <i>{{ totalClients }}</i></p>
        </div>
        <div class="service-snippets c">
            <h2 class="service-snippet-header">You Currently have <i class="special">{{ totalServices }}</i> Services Open:</h2>
            <ul>
                <li><p class="service-snippet-small"><i class="special">{{ monthlyServices }}</i> monthly repeating</p></li>
                <li><p class="service-snippet-small"><i class="special">{{ oneTimeServices }}</i> one time services</p></li>
            </ul>
            
        </div>
    </div>
