
<div class="jumbotron d-flex flex-row bg-success justify-content-evenly">
    <div class="col-4 d-flex flex-column align-items-center">
        <p class="lead" style="color:#FBFFF9;">Get Paid - Send Payments Requests</p>
        <div class="btn-group mt-0">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" style="color:#FBFFF9;" aria-expanded="false">
                Clients
            </button>
            <div class="dropdown-menu">
                {{#each clients}}
                <a class="dropdown-item" href="#">{{ this.name }}</a>
                {{/each}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Add New</a>
            </div>
        </div>
        </div>
        <div class="col-4 d-flex flex-column align-items-center">
            <h2 class="display-4" style="color:#FBFFF9;">{{user.firstName}}'s Progress Update</h2>
            <small class="lead" style="color:#FBFFF9;">Client Count: <i>{{ totalClients }}</i></small>
        </div>
        <div class="col-4 flex-column align-items-center">
            <p style="color:#FBFFF9;">You currently have <i class="text-warning">{{ totalServices }}</i> services open:</p>
            <p class="list-group-item" style="color:#FBFFF9;">
                <span class="label label-warning label-pill">{{ monthlyServices }}</span>
                Monthly Services
            </p>
            <p class="list-group-item" style="color:#FBFFF9;">
                <span class="label label-warning label-pill">{{ oneTimeServices }}</span>
                One Time Services
            </p>  
        </div>
    </div>

{{!-- <div class="hero-section">
        <div class="pay-btn-section a">
            <h2 class="paid-hero-header">Get Paid, Send Payment Requests</h2>
            <select class="client-selector">
                {{#each clients}}
                <option value="{{ this.email }}">{{ this.name }}</option>
                {{/each}}
            </select>
            <button class="pay-request-btn">Send Request</button>
        </div>
        <div class="image-name-section b">
            {{#if user.profileImage}}
            <img src="{{ user.profileImage }}" alt="User's profile picture">
            {{else}}
            <img src="/assets/DefaultProPic.png" alt="profile picture" class="profile-pic">
            {{/if}}
            <p class="hero-username">{{ user.firstName }} {{ user.lastName }}</p>
            <p class="hero-client-count">Client Count: <i>{{ totalClients }}</i></p>
        </div>
        <div class="service-snippets c">
            <h2 class="service-snippet-header">You Currently have <i class="special">{{ totalServices }}</i> Services Open:</h2>
            <ul class="hero-list">
                <li><p class="service-snippet-small"><i class="special">{{ monthlyServices }}</i> monthly repeating</p></li>
                <li><p class="service-snippet-small"><i class="special">{{ oneTimeServices }}</i> one time services</p></li>
            </ul>
            
        </div>
    </div> --}}
