{{> hero-section }}
<div class="main-nav-container">
    {{> mainNav }}
</div>

<div class="clients-index-container">
    {{#if clients}}
    <div class="btn-flex">
        <a href="/clients/new" class="new-client-btn">Add Client</a>
    </div>
        <div class="clients-container">
            {{#each clients}}
            <a href="/clients/{{ this._id }}" class="big-link">
                <div class="client-card">
                    <h2 class="client-index-name">{{ this.name }}</h2>
                    {{#if this.services}}
                    <p class="client-services-header">Services:</p>
                    <ul class="client-service-list">
                        {{#each this.services}}
                        <li>{{ this.name }}</li>
                        {{/each}}
                    </ul>
                    <p class="client-total-billed">Total Billed: $##</p>
                    {{else}}
                    <div class="setup-clients-container">
                        <small class="no-client-services">Looks like you don't have any services setup for this client ...</small>
                        <a href="/clients/{{ this._id }}" class="setup-client-btn">Set Up</a>
                    </div>
                    {{/if}}
                </div>
            </a>
        {{/each}}
        </div>
        {{else}}
        <div class="no-service-div">
            <p class="no-services-warning">You don't have any services setup!</p>
            <p class="no-service-byline">Lets set some up now...</p>
            <div class="no-client-btn-flex">
                <a class="no-client-add-btn" href="/clients/new">Add Clients</a>
            </div>
        </div>
        {{/if}}
    
</div>

